 /* global styles */
 
 * {
     padding: 0;
     margin: 0;
 }
 
 body,
 html {
     width: 100%;
     min-height: 100vh;
 }
 
 a {
     text-decoration: none;
 }
 
 header,
 footer {
     background-color: #D93A33;
     color: #fff;
 }
 /* flex-box site layout */
 /* flex container*/
 
 .main-flex-container {
     display: flex;
     flex-flow: row wrap;
     align-content: center;
     justify-content: center;
 }
 /* flex items */
 
 header,
 .quotes-flex-container,
 .footer-flex-container {
     min-width: calc(100vw - 100px);
     flex: 1;
 }
 
 #banner {
     color: #fff;
     font-size: 28px;
     padding: 30px;
 }
 
 #banner>.fa {
     margin-right: 20px;
 }
 /* styles for quote box */
 
 .quotes-flex-container {
     display: flex;
     flex-flow: row wrap;
     background-color: #d7cec7;
     color: #D93A33;
     text-align: center;
     min-height: calc(100vh - 206px);
     justify-content: center;
     align-items: center;
     align-content: center;
 }
 
 .quotes-box {
     background: lavender;
     border-radius: 20px;
     border: 1px solid #0c7abf;
     line-height: 1.5;
     flex: 2;
     min-width: calc(100vw - 100px);
     margin: 0 10px;
 }
 
 .quote-btn-box {
     flex: 1;
     min-width: calc(100vw - 100px);
 }
 
 .quote-btn-box a {
     margin: 25px 10px 10px 0;
 }
 
 #quote-text {
     font-family: 'Andale Mono', 'Georgia', 'Times', 'serif';
     font-size: 22px;
     padding: 20px;
 }
 
 #quote-author {
     color: #0c7abf;
     font-family: cursive;
     font-size: 16px;
 }
 /* styel rules for buttons */
 
 .btn {
     border-radius: 5px;
     color: #fff;
     width: 120px;
     text-align: center;
     padding: 10px 0;
     margin: 50px 20px;
     display: inline-block;
 }
 
 #tweet-quote {
     background-color: #0c7abf;
 }
 
 #get-quote {
     background-color: #D93A33;
 }
 
 #tweet-quote:hover {
     background-color: #074c77;
 }
 
 #get-quote:hover {
     background-color: #972823;
 }
 /* footer Layout */
 /* flex container for footer */
 
 .footer-box {
     display: flex;
     flex-flow: row wrap;
     font-size: 16px;
     min-height: 82px;
 }
 /* flex items in footer */
 
 .social-links {
     flex: 1;
     margin-top: 5px;
     text-align: center;
     align-self: center;
 }
 
 .site-info {
     align-self: center;
     color: #fff;
     flex: 2;
     margin-top: 5px;
     text-align: center;
 }
 
 .site-info hr {
     border: none;
     height: 1px;
     color: #333;
     /* old IE */
     background-color: #333;
     /* Modern Browsers */
     margin: 5px auto 0 auto;
 }
 
 .github-link a {
     color: #fff;
 }
 
 .contact {
     flex: 1;
 }
 
 .social-links a {
     margin: 13px;
     font-size: 30px;
     color: #fff;
 }
 
 .api-link a {
     color: #000;
 }
 /*style rules for small screen < 480px width - media query*/
 
 @media(max-width:480px) {
     .quotes-flex-container {
         min-height: calc(100vh - 208px);
     }
     #banner {
         font-size: 18px
     }
     .footer-box {
         flex-flow: column wrap;
     }
     .social-links a {
         margin: 5px 5px;
     }
 }