 /* 
 color scheme 
D7CEC7
565656
76323F
C09F80
 */
 /* global styles */
 
 body {
     margin: 0;
 }
 
 header,
 footer {
     min-height: 60px;
 }
 
 header {
     margin-left: 30px;
 }
 
 footer {
     text-align: center;
 }
 /* flex-box site layout */
 
 .fc {
     display: flex;
     flex-flow: row wrap;
     align-content: center;
 }
 
 header,
 #quotes-box,
 footer {
     min-width: calc(100vw - 100px);
     flex: 1;
 }
 
 #banner {
     margin-top: 25px;
 }
 
 #banner i {
     display: inline;
     vertical-align: top;
     margin-left: 20px;
     /*color: #763235;*/
     color: green;
     font-size: 30px;
 }
 
 #logo img {
     width: 50px;
 }
 /* styles for quote box */
 
 #quotes-box {
     background-color: #d7cec7;
     color: #763235;
     min-height: calc(100vh - 150px);
     text-align: center;
 }
 
 #quotes-box>div {
     background: lavender;
     border-radius: 20px;
     border: 1px solid green;
     margin: 120px 100px 0;
     padding: 20px 0;
     min-height: 100px;
 }
 
 #quote-text {
     font-family: 'Andale Mono', 'Georgia', 'Times', 'serif';
     font-size: 25px;
 }
 
 #quote-author {
     color: green;
     font-family: cursive;
     font-size: 16px;
 }
 
 a {
     text-decoration: none;
 }
 /* styel rules for buttons */
 
 .btn {
     border-radius: 5px;
     color: #fff;
     width: 120px;
     text-align: center;
     padding: 10px 0;
     margin: 20px;
     display: inline-block;
 }
 
 #tweet-quote {
     background-color: #0c7abf;
 }
 
 #get-quote {
     background-color: #b7510c;
 }
 
 .fa {
     margin-right: 5px;
 }
 
 .btn-tweet:hover {
     background-color: #074c77;
 }
 
 .btn-quote:hover {
     background-color: #723007;
 }
 
 footer {
     font-size: 16px;
     color: #723007;
 }
 
 footer a {
     color: #008000;
 }
 /*style rules for small screen < 480px width - media query*/
 
 @media(max-width:480px) {
     header,
     footer {
         min-height: 20px;
     }
     header {
         margin-left: 15px;
     }
     #banner {
         margin: 0 0 0 15px;
         padding-top: 25px;
     }
     #banner i {
         margin-left: 10px;
         font-size: 20px;
     }
     #quotes-box>div {
         margin: 50px 10px 10px;
         padding: 5px 0;
     }
     #quotes-box {
         min-height: calc(100vh - 120px);
     }
     #quote-text {
         font-size: 20px;
         line-height: 1.5;
     }
     .btn {
         margin: 5px;
     }
 }