@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
:root {
    --primary-color: #7d1128;
    --secondary-color: #ffffff;
    --twitter-blue: #0c85d0;
    --dark-grey: #5d737e;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.app {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.button-controls {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .app {
        flex-direction: row;
    }
    .container {
        width: 100vh;
        height: 90vh;
    }
}