@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
    --malachite-green: #61e786;
    --honey-dew: #edffec;
    --pineapple: #48435c;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}