:root {
    --malachite-green: #61e786;
    --honey-dew: #edffec;
    --pineapple: #48435c;
    --davys-grey: #5a5766;
    --pullman-green: #322e18;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Mali', cursive;
}